---
import Android from './icons/Android.astro';
---

<section id='download' class='bg-primary py-[100px] mt-16 text-white'>
  <div class='max-w-7xl mx-auto px-4 text-center'>
    <h2 class='text-4xl mb-8'>Comienza a transformar tus hábitos hoy</h2>
    <p class='text-xl text-pretty max-w-[500px] mx-auto mb-8'>
      Prueba My Habits Hero gratis durante 7 días y descubre cómo pequeños
      cambios diarios pueden llevarte a grandes resultados.
    </p>
    <div class='flex items-center justify-center'>
      <a
        href='#'
        class='bg-white rounded-full text-black py-3 px-6 border border-black flex items-center justify-center'
      >
        <Android />
        <span class='ml-4'>Descargar para Android</span>
      </a>
    </div>
  </div>
</section>
