---
import Bell from './icons/Bell.astro';
import Calendar from './icons/Calendar.astro';
import CharBar from './icons/CharBar.astro';
import Globe from './icons/Globe.astro';
import Lock from './icons/Lock.astro';
import Moon from './icons/Moon.astro';
---

<section class='mt-16'>
  <div class='max-w-7xl mx-auto px-4'>
    <div>
      <h2 class='text-3xl text-center mb-8 font-semibold'>
        ¿Qué puedes hacer con My Habits Hero?
      </h2>
      <p class='text-xl text-balance text-center max-w-[600px] mx-auto'>
        Nuestras características te ayudarán a transformar tus metas en
        realidades a través de hábitos diarios efectivos.
      </p>
    </div>
    <div class='grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8 mt-16'>
      <div class='border border-gray-300 rounded-lg bg-gray-100 p-4 shadow-md'>
        <div class='flex items-center justify-start mb-4'>
          <div class='bg-primary/20 p-4 rounded-full'>
            <Calendar />
          </div>
        </div>
        <h3 class='text-xl font-semibold mb-4'>
          Crea y personaliza tus hábitos
        </h3>
        <p>
          Establece hábitos individuales, define horarios y acompaña tu progreso
          día a día.
        </p>
      </div>
      <div class='border border-black rounded-lg bg-primary p-4 text-white'>
        <div class='flex items-center justify-start mb-4'>
          <div class='bg-white p-4 rounded-full'>
            <CharBar />
          </div>
        </div>
        <h3 class='text-xl font-semibold mb-4'>
          Seguimiento visual del progreso
        </h3>
        <p>
          Mantén la motivación con estadísticas claras y fáciles de entender
          sobre tu constancia y logros.
        </p>
      </div>
      <div class='border border-gray-300 rounded-lg bg-gray-100 p-4 shadow-md'>
        <div class='flex items-center justify-start mb-4'>
          <div class='bg-primary/20 p-4 rounded-full'>
            <Globe />
          </div>
        </div>
        <h3 class='text-xl font-semibold mb-4'>Acceso desde cualquier lugar</h3>
        <p>
          Disponible como una app nativa para Android, sincronizada con tu
          cuenta para no perder nunca tu progreso.
        </p>
      </div>
      <div class='border border-black rounded-lg bg-primary p-4 text-white'>
        <div class='flex items-center justify-start mb-4'>
          <div class='bg-white p-4 rounded-full'>
            <Bell />
          </div>
        </div>
        <h3 class='text-xl font-semibold mb-4'>Recordatorios inteligentes</h3>
        <p>
          Recibe notificaciones push para que nunca olvides un hábito
          importante.
        </p>
      </div>
      <div class='border border-gray-300 rounded-lg bg-gray-100 p-4 shadow-md'>
        <div class='flex items-center justify-start mb-4'>
          <div class='bg-primary/20 p-4 rounded-full'>
            <Moon />
          </div>
        </div>
        <h3 class='text-xl font-semibold mb-4'>Modo claro y oscuro</h3>
        <p>
          Adapta la app a tu estilo con temas visuales que se ajustan
          automáticamente.
        </p>
      </div>
      <div class='border border-black rounded-lg bg-primary p-4 text-white'>
        <div class='flex items-center justify-start mb-4'>
          <div class='bg-white p-4 rounded-full'>
            <Lock />
          </div>
        </div>
        <h3 class='text-xl font-semibold mb-4'>Privacidad primero</h3>
        <p>
          Solo recopilamos la información esencial para crear tu cuenta. Tus
          datos están seguros y nunca se comparten con terceros.
        </p>
      </div>
    </div>
  </div>
</section>
