<footer class='bg-gray-100 py-12'>
  <div class='max-w-7xl mx-auto px-4'>
    <hr class='mb-12' />
    <div class='text-center'>
      <div class='mb-4'>
        <h3 class='text-xl font-bold'>Legal</h3>
        <ul class='mt-4'>
          <li>
            <a href='/terms-conditions' class='inline-block mb-2'
              >Términos y condiciones</a
            >
          </li>
          <li>
            <a href='/privacy' class='inline-block mb-2'
              >Política de privacidad</a
            >
          </li>
          <div class='copyright'>
            &copy; 2025 My Habits Hero. Credo por <a
              class='font-bold'
              href='https://github.com/cjosue15'
              target='_blank'>Carlos Morales</a
            >.
          </div>
        </ul>
      </div>
    </div>
  </div>
</footer>
