---
import { Image } from 'astro:assets';
import logo from '../assets/logo.png';
---

<section class='pt-[150px]'>
  <div class='max-w-7xl mx-auto px-4'>
    <div>
      <div class='mb-8 flex justify-center'>
        <a
          href='#download'
          class='border border-black rounded-full bg-primary px-4 py-2 text-white'
          >Prueba Gratuita 7 Días</a
        >
      </div>
      <h1 class='text-6xl text-center text-balance font-semibold'>
        Tu compañero definitivo para formar <span class='font-bold text-primary'
          >hábitos poderosos</span
        >
      </h1>
      <p class='text-center text-balance mt-8 max-w-2xl mx-auto text-xl'>
        My Habits Hero es una aplicación diseñada para ayudarte a crear, seguir
        y fortalecer hábitos diarios de forma sencilla y efectiva.
      </p>
    </div>
    <div class='flex justify-center mt-8 items-center'>
      <Image src={logo} width={300} height={300} alt='My Habits Hero App' />
    </div>
  </div>
</section>
