---
import Layout from '../../layouts/Layout.astro';
---

<Layout>
  <section class='py-[100px]'>
    <div class='max-w-7xl mx-auto px-4'>
      <h1 class='text-3xl text-center font-bold mb-6'>
        Política de Privacidad
      </h1>

      <div class='mb-6'>
        <h2 class='text-2xl font-semibold mb-2'>
          1. Recopilación de Información
        </h2>
        <p>
          Solo recopilamos información personal cuando es estrictamente
          necesario para proporcionarte nuestros servicios.
        </p>
      </div>

      <div class='mb-6'>
        <h2 class='text-2xl font-semibold mb-2'>2. Uso de la Información</h2>
        <p>
          La información personal que recopilamos se utiliza exclusivamente para
          ofrecerte nuestros servicios y comunicarnos contigo.
        </p>
      </div>

      <div class='mb-6'>
        <h2 class='text-2xl font-semibold mb-2'>3. Almacenamiento de Datos</h2>
        <p>
          Conservamos tus datos solo el tiempo necesario para ofrecerte el
          servicio solicitado.
        </p>
      </div>

      <div class='mb-6'>
        <h2 class='text-2xl font-semibold mb-2'>4. Compartir Información</h2>
        <p>
          No compartimos tu información personal con terceros, salvo cuando la
          ley lo requiera.
        </p>
      </div>

      <div class='mb-6'>
        <h2 class='text-2xl font-semibold mb-2'>
          5. Aceptaci&oacute;n de esta Política
        </h2>
        <p>
          Al seguir utilizando <strong>My Habits Hero</strong>, aceptas nuestras
          prácticas en torno a la privacidad y la gestión de tus datos
          personales.
        </p>
      </div>

      <p class='text-sm'>Esta política entra en vigor el 1 de marzo de 2025.</p>

      <div class='flex justify-start mt-4'>
        <a
          href='/'
          class='bg-primary border border-black px-4 py-2 rounded-full text-white'
          >Volver</a
        >
      </div>
    </div>
  </section>
</Layout>
